.region-content {
 width: 100% !important;
 max-width: 100% !important;
 margin-top: 40px;
}

.article {
  padding-top: 65px !important;
}

.aaeActionBar {
  margin-top: -96px;
  margin-bottom: 70px;
}


#article-image {
 width: 100%;
 background-size: 100%;
 height: 350px;
 padding-top: 100px;
}

#headline {

}

#headline h2, #headline h3 {
 /*background: #008CBA;*/
 text-transform: uppercase;
 display: table;
 background-color: rgba(255,255,255,0.8);
 padding: 5px 10px;
 margin: 0 auto;
 margin-bottom: 3px;
 display: table;
 float:left;
}

#headline h2 a {
 color: #2F2F2F;
}

#headline h3 {
 font-size: 1em;
}

#headline h3 strong {
  color: #008CBA;
}

#content {
 background: rgba(255, 255, 255, 1);
 padding: 15px 25px;
 position: relative;
 margin-top: -29px;
}
#content p {
 font-size: 0.9em;
 line-height: 1.7em;
 padding-bottom: 25px;
}
#content p::first-letter {
 font-size: 200%;
 color: #008CBA;
}
#meta_info {
 opacity: 0.8;
 padding-bottom: 15px;
}
#comments {
  background: #F7F7F7;
}
#comments h2 {
 font-size: 1.5em;
 padding: 12px 0;
}
#comments .comment {
  padding: 12px;
  border: 1px solid #F1EFEF;
  background: #fff;
  border-radius: 3px;
  margin: 10px 0;
}
#comments .comment .new {
  display: none;
}
#comments .comment .submitted {
  float: right;
  opacity: 0.8;
  font-size: 0.8em;
  margin-top: -16px;
}
#comments .comment .submitted .permalink {
  display: none;
}
#comments .comment p {
  margin-top: 15px;
}
#comments .comment h3 {
  font-size: 1.5em;
}
#comments .links {
  padding-top: 10px;
  float: left;
  font-size: 0.8em;
}
.fieldset-wrapper .tips {
  float: right;
  margin-top: -65px;
}
.title.comment-form {
  margin-top: 30px;
}
