.aaeModal {
 background: rgba(0, 0, 0, 0.8);
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 z-index: 99999;
 display: none;
}

.aaeModal .content {
 background: #fff;
 padding: 8px;
 margin: 0 auto;
 margin-top: 7%;
 width: 50%;
 border-radius: 3px;
}

.aaeModal .content .grey {
  color: #414141;
}

.aaeModal .content .divider {
  margin: 11px 0;
}

.aaeModal .content .button {
  padding: 5px 11px;
  margin-top: -30px;
  float: right;
}

.region-content, #contentRow {
 width: 100% !important;
 max-width: 100% !important;
 margin: 0;
 overflow: hidden;
}

.region-content .row {
  margin: 0 auto;
}

#header {
 height: 270px;
 width: 103%;
 padding-top: 60px;
 background-color: #2199E8;
 background-size: 105%;
 margin-left: -18px;
 filter: blur(7px);
 -webkit-filter: blur(7px);
 -moz-filter: blur(7px);
 -o-filter: blur(7px);
 -ms-filter: blur(7px);
}

#project {
 position: relative;
 margin: 0 auto;
 margin-top: -90px;
}

#project .pcard header {
 height: auto;
 background-size: 100%;
 background-color: none !important;
 padding-top: 0;
 min-width: 369px;
}

#project .pcard header img {
  width:100%;
}

#project aside div {
 margin-bottom: 7px;
}

#project #project-info {
 padding-top: 3px;
}

#project #project-info p {
 padding: 5px 0 6px 60px;
 margin: 8px 0;
}

#project .divider {
 padding-top: 8px;
 margin-bottom: 0;
}

#project #project-info span.icon {
 background-color: #ce7e12;
 border-radius: 20px;
 padding: 7px 7px;
 /*box-shadow: 0 0 3px #ce7e12; */
 margin-right: 10px;
 float: left;
}

#project #project-info span.icon img {
 width: 20px;
}

#project #project-contact .button {
 width: 100%;
 text-transform: uppercase;
 margin: 0;
}

#project #breadcrumb li {
 float: left;
 padding: 0 12px 10px 0;
 font-size: 0.85em;
}

/*#project #breadcrumb li a {
  color: #F1F1F1;
}*/

#project #breadcrumb li:first-child:after {
  content: '>';
  position: relative;
  margin-left: 5px;
  margin-top: -5px;
  color: #F1F1F1;
}

#project #breadcrumb li:nth-child(2) {
  width: 82%;
}

#project #breadcrumb li#activeEvent {
  float: none;
  font-size: 2.5em;
  text-shadow: 0px 2px 2px #353535;
  padding-bottom: 20px;
}

#project #breadcrumb li#activeEvent a {
  color: #fff;
}

#project #project-content h3 {
 padding-top: 15px;
 padding-bottom: 22px;
 font-size: 1.6em;
}

#project #project-content p, #project #project-content li{
 padding-bottom: 0.7em;
}

#project #project-content ul li {
 list-style-type: disc;
 font-size: 0.8em;
 line-height: 1.65em;
 list-style-position: inside;
}



#footer {
 margin-top: 60px;
}

#footer .divider {
 display: block;
 margin-bottom: 50px;
}

#eventprofil #header {
  background-color: #FF5217;
}

#eventprofil #event-data {
  margin-top: -25px;
}

#project #eventSparten, #project #akteurSparten {
  text-shadow: 0px 2px 2px #8D8D8D;
  margin-top: 50px;
  margin-bottom: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid #F1F1F1;
}

#projet #eventSparten a, #project #akteurSparten a {
  line-height: 25px;
  margin-left: 5px;
}

#akteurProfilTabs {
  margin-top: 20px;
}

#akteurProfilTabs .tabs-content {
  border: none;
}

#akteurProfilTabs #prss img {
  display: none;
}

#akteurProfilTabs .rssitem {
  margin-top: 8px;
}
