.region-content {
 width: 100% !important;
 max-width: 100% !important;
}

#header {
 height: 260px;
 padding-top: 60px;
 background-color: #008cba;
 background-size: 130%;
 margin: 0 -10px;
 filter: blur(8px);
 -webkit-filter: blur(8px);
 -moz-filter: blur(8px);
 -o-filter: blur(8px);
 -ms-filter: blur(8px);
}

#akteurActions {
 height: 50px;
 border-bottom: 1px solid #fff;
 margin-top: -200px;
 position: relative;
 z-index: 50;
 margin-bottom: 190px;
 padding-top: 16px;
 background: rgba(27, 27, 27, 0.61);
}

#akteurActions img {
 width: 19px;
 padding-right: 6px;
}

#akteurActions a {
 border-right: 1px solid #fff;
 padding: 13px 18px;
 color: #fff;
}

#akteurActions a:hover {
 text-decoration: underline;
}

#akteurActions #share {
 padding-top: 10px;
 margin-top: 17px;
}

#akteurActions #share:before {
 margin-top: -22px;
 margin-left: 120px;
}

#akteurActions #share a {
 padding: 16px 32px;
 float: left;
 height: 44px;
}

#akteurActions #share a img {
 width: 19px;
 padding: 0;
}

#project {
 position: relative;
 margin-top: -70px;
}

#project .pcard header {
 height: auto;
}

#project aside div {
 margin-bottom: 7px;
}

#project #project-info {
 padding-top: 3px;
}

#project #project-info p {
 padding: 5px 0 6px 60px;
 margin: 8px 0;
}

#project .divider {
 padding-top: 8px;
 margin-bottom: 0;
}

#project #project-info span {
 background-color: #ce7e12;
 border-radius: 20px;
 padding: 7px 7px;
 /*box-shadow: 0 0 3px #ce7e12; */
 margin-right: 10px;
 float: left;
}

#project #project-info span img {
 width: 20px;
}

#project #project-contact .button {
 width: 100%;
 text-transform: uppercase;
 margin: 0;
}

#project #project-content h1 {
 font-size: 2.5em;
 color: #fff;
 text-shadow: 0px 2px 2px #353535;
 padding-bottom: 40px;
}

#project #project-content h3 {
 padding-top: 10px;
 padding-bottom: 22px;
}

#project #project-content p {
 padding-bottom: 0.7em;
}

#project #project-content #next-events li {
  padding-bottom: 0.7em;
  font-size: 0.8em;
}

#footer {
 margin-top: 60px;
}

#footer .divider {
 display: block;
 margin-bottom: 50px;
}
